@model IEnumerable<Pick_n_Buy.Models.MdlProduct>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="main_nav">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="main_nav_content d-flex flex-row">

                    <!-- Categories Menu -->

                    <div class="cat_menu_container bg-primary">
                        <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                            <div class="cat_burger"><span></span><span></span><span></span></div>
                            <div class="cat_menu_text">categories</div>
                        </div>

                        <ul class="cat_menu">

                            @Html.Action("Category", "Client")
                        </ul>
                    </div>

                    <!-- Main Nav Menu -->

                    <div class="main_nav_menu ml-auto">
                        <ul class="standard_dropdown main_nav_dropdown">
                            <li class="hassubs">
                                <a href="#">Super Deals<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li>
                                        <a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                </ul>
                            </li>
                            <li class="hassubs">
                                <a href="#">Featured Brands<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li>
                                        <a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                </ul>
                            </li>
                            <li><a href="cart.html">Cart<i class="fas fa-chevron-down"></i></a></li>
                            <li><a href="product.html">Product<i class="fas fa-chevron-down"></i></a></li>
                            <li><a href="shop.html">Shop<i class="fas fa-chevron-down"></i></a></li>
                        </ul>
                    </div>

                    <!-- Menu Trigger -->

                    <div class="menu_trigger_container ml-auto">
                        <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                            <div class="menu_burger">
                                <div class="menu_trigger_text">menu</div>
                                <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Product Panel -->
<div class="offset-lg-4 fill_height">
    <div class="product_panel panel active">
        <div class="featured_slider slider">
            <div class="row col-md-12">
                @foreach (var item in Model)
                {
                     <!-- Slider Item -->
                    <div class="featured_slider_item col-md-3">
                        <div class="border_active"></div>
                        <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="product_image d-flex flex-column align-items-center justify-content-center"> <img src="@Url.Content(item.Thumbnail)" /></div>
                            <div class="product_content">
                                <div class="product_price">@item.UnitPrice</div>
                                <div class="product_name"><div><a href='@Url.Action("PrdouctDiscription", "Client", new { id = item.ID })'>@item.Name</a></div></div>
                                <div class="product_extras">
                                    <div class="product_color">
                                        <input type="radio" checked name="product_color" style="background:#b19c83">
                                        <input type="radio" name="product_color" style="background:#000000">
                                        <input type="radio" name="product_color" style="background:#999999">
                                    </div>
                                    <button class="product_cart_button active">Add to Cart</button>
                                </div>
                            </div>
                            <div class="product_fav"><i class="fas fa-heart"></i></div>
                            <ul class="product_marks">
                                <li class="product_mark product_discount"></li>
                                <li class="product_mark product_new">new</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
                
        </div>
        <div class="arrivals_slider_dots_cover"></div>
    </div>
</div>




